.signup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px;
  height: 250px;
  background-color: hsl(238, 22%, 44%);
  color: #fff;
}

.signup-content {
  width: 40%;
}

.signup-content h2 {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  margin-bottom: 20px;
}

.signup-content p {
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.signup-handler {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.signup-handler input {
  padding: 10px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.signup-handler button {
  font-family: "Raleway", sans-serif;
  width: 30%;
  background-color: hsl(224, 93%, 58%);
  color: #fff;
  font-weight: 600;
  margin-top: 20px;
  padding: 14px;
  border-radius: 5px;
  border: none;
}
