.signup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px;
  height: 250px;
  background-color: hsl(238, 22%, 44%);
  color: #fff;
}

.signup-content {
  width: 40%;
}

.signup-content h2 {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  margin-bottom: 20px;
}

.signup-content p {
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.signup-handler {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.signup-handler input {
  padding: 10px;
  width: 80%;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.empty-warning-msg {
  color: red;
  opacity: 0.8;
}

.empty input {
  border: 1px solid red;
}

.signup-handler button {
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  width: 30%;
  background-color: hsl(224, 93%, 58%);
  color: #fff;
  font-weight: 600;
  margin-top: 20px;
  padding: 14px;
  border-radius: 5px;
  border: none;
}

@media screen and (max-width: 768px) {
  .signup {
    flex-direction: column;
    justify-content: space-evenly;
    height: 450px;
    padding: 0;
    max-width: 650px;
    width: 100%;
    text-align: center;
  }

  .signup-content {
    margin-top: 20px;
    width: 80%;
  }

  .signup-handler {
    margin-top: -20px;
    width: 70%;
  }
  .signup-handler input {
    width: 100%;
  }
  .signup-handler button {
    width: 100%;
  }
}
