.intro {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 70px;
}

.intro-img-wrapper img {
  height: 70%;
  max-width: 100%;
  margin-left: 90px;
}

.intro-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.intro-content h1 {
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-weight: 800;
}

.intro-content p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 500;
  letter-spacing: 1px;
}
.input-wrapper {
  display: flex;
  width: 100%;
}
.empty-none {
  display: none;
}
.empty input {
  border: 1px solid red;
}

.empty .empty-warning {
  color: red;
}

.empty-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input-wrapper input {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
}

.input-wrapper button {
  font-family: "Raleway", sans-serif;
  background-color: hsl(224, 93%, 58%);
  color: #fff;
  height: 40px;
  font-weight: 600;
  margin-left: 20px;
  padding: 14px;
  border-radius: 5px;
  border: none;
}

@media screen and (max-width: 768px) {
  .intro {
    text-align: center;
    flex-direction: column-reverse;
    overflow: hidden;
  }
  .intro-img-wrapper img {
    margin-left: -15px;
  }
  .intro-content p {
    margin: 20px;
  }
  .input-wrapper {
    max-width: 450px;
    width: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  }
  .input-wrapper input {
    width: 100%;
  }
  .input-wrapper button {
    margin-left: -2px;
    margin-top: 20px;
  }
}
